* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 70px 15px;
}

.logo {
  width: 15%;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border-right: 1px solid #dfdfdf;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 70%;
}

.title-a {
  text-decoration: none;
  display: block;
  padding: 5px 20px;
}

dl, ol, ul {
  margin-bottom: 0;
}

.search-shop img {
  width: 20px;
  height: auto;
}

.search-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-shop a {
  padding: 5px;
}

.home .home-drop {
  position: absolute;
  width: 70%;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  visibility: hidden;
  background-color: white;
  background-color: white;
  z-index: 1;
}

.home .home-drop div {
  width: 25%;
  padding: 0 10px;
  margin: 20px 0;
}

.home .home-drop .business, .home .home-drop .announcement, .home .home-drop .invitation {
  border-right: 1px solid gray;
}

.home .home-drop .title ~ a {
  font-size: 13px;
  color: gray;
  display: block;
  padding: 5px 20px;
}

.title {
  color: black;
  font-size: 15px;
}

.home:hover .home-drop {
  visibility: visible;
  margin-top: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.page .page-drop {
  position: absolute;
  visibility: hidden;
  line-height: 2;
  margin-top: 30px;
  color: gray;
  background-color: white;
  z-index: 1;
}

.page .page-drop a {
  font-size: 13px;
}

.page:hover .page-drop {
  visibility: visible;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 0;
}

.portfolio-drop {
  visibility: hidden;
  margin-top: 30px;
  position: absolute;
  line-height: 2;
  background-color: white;
  z-index: 1;
}

.portfolio-drop a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.portfolio-drop img {
  width: 10%;
  height: 10%;
}

.portfolio-drop p {
  margin-bottom: 0;
  font-size: 13px;
}

.portfolio:hover .portfolio-drop {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: visible;
  margin-top: 0;
}

.shop-drop, .blog-drop {
  right: 0;
  font-size: 13px;
  position: absolute;
  text-align: right;
  margin-top: 30px;
  line-height: 2;
  visibility: hidden;
  width: 150px;
  background-color: white;
  z-index: 1;
}

.shop {
  position: relative;
}

.shop:hover .shop-drop, .shop:hover .blog-drop {
  visibility: visible;
  margin-top: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.blog {
  position: relative;
}

.blog-drop {
  width: 200px;
  background-color: white;
  z-index: 1;
}

.blog:hover .blog-drop {
  visibility: visible;
  margin-top: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.elements-drop {
  position: absolute;
  width: 70%;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  visibility: hidden;
  background-color: white;
  background-color: white;
  z-index: 1;
  padding: 30px 0;
}

.elements-drop div {
  width: 25%;
}

.elements-drop div ul a {
  font-size: 13px;
  color: gray;
}

.elements-drop div ul a img {
  width: 13px;
  height: auto;
  margin-right: 5px;
}

.elements-drop .typography, .elements-drop .infographics, .elements-drop .s-elements {
  border-right: 1px solid lightgray;
}

.elements:hover .elements-drop {
  visibility: visible;
  margin-top: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Raleway,sans-serif;
  margin-bottom: 50px;
  background: #f1f1f1;
  padding: 0 70px;
  padding: 80px;
}

footer > div {
  width: 25%;
  padding-right: 50px;
}

footer .contact {
  color: #949494;
}

footer .contact img[alt=logo] {
  width: 180px;
  height: auto;
  margin-bottom: 20px;
}

footer a, footer .subcribe p {
  color: #949494;
}

footer a:hover {
  color: #949494;
}

footer h6 {
  font-weight: 600;
  padding-top: 10px;
  margin-bottom: 20px;
}

footer h6 ~ a {
  display: block;
  line-height: 2.5;
}

footer input {
  border: none;
  padding-left: 20px;
  height: 45px;
}

footer .send-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .send-email .send {
  display: block;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4ff3ff;
}

#fade-img {
  height: 567px;
  overflow: hidden;
  z-index: 0;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner .carousel-item {
  height: 100%;
}

.carousel-inner .carousel-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.carousel-inner .carousel-item .content-img {
  padding-bottom: 120px;
}

.carousel-inner .carousel-item .content-img .title-img {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.carousel-inner .carousel-item .content-img .title-img:first-child {
  position: relative;
  top: 30px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 20px;
}

.content-img p:nth-child(3) {
  padding: 0px 180px;
}

.start-now {
  text-align: center;
  padding-top: 120px;
  min-height: 600px;
}

.start-now p {
  color: gray;
}

.start-now .circle {
  max-width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.start-now .circle div {
  width: 25%;
  margin-right: 30px;
}

.start-now .circle img {
  margin-bottom: 40px;
}

.retina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 100px;
  background-color: #f9f9f9 !important;
}

.retina img {
  display: block;
  width: 519px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.retina-content {
  padding-top: 70px;
  padding-left: 50px;
}

.retina-content h5 {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 24px;
  color: #525252;
}

.retina-content p {
  color: gray;
}

.retina-content a {
  color: black;
  background-color: transparent;
  border: 1px solid #8080806b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  display: block;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 10px;
}

.retina-btn:hover, .easy-way .easy-content div a:hover {
  text-decoration: none;
  color: white;
  background-color: #ffe3e8;
  border: none;
}

.beautiful {
  background: url(../image/home-main-parallax-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 300px;
  text-align: center;
  padding: 10% 280px;
  color: white;
}

.beautiful h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.beautiful p {
  font-size: 21px;
  line-height: 35px;
  font-weight: 400;
}

.beautiful .btn {
  color: white;
  background-color: #ffe3e8;
}

.beautiful .btn:hover {
  color: black;
  background-color: white;
}

.stylist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 130px;
}

.stylist > div {
  width: 50%;
}

.stylist-content {
  margin-right: 30px;
}

.stylist-content h3 {
  font-weight: 400;
  margin-bottom: 30px;
  padding-right: 50px;
}

.stylist-content p {
  color: gray;
}

.stylist-table .slide {
  width: 100%;
  height: 20px;
  background-color: #ebebeb;
  position: relative;
}

.stylist-table .slide::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 20px;
  background: rgba(255, 202, 212, 0.705);
  left: 0;
  -webkit-animation: example 2s linear;
          animation: example 2s linear;
}

.stylist-table .number-slide {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 75%, 50% 90%, 40% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 75%, 50% 90%, 40% 75%, 0% 75%);
  height: 25px;
  background: rgba(255, 202, 212, 0.705);
  width: 25px;
  position: relative;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-animation: example1 2s linear;
          animation: example1 2s linear;
  left: 75%;
}

@-webkit-keyframes example {
  0% {
    width: 0;
  }
}

@keyframes example {
  0% {
    width: 0;
  }
}

@-webkit-keyframes example1 {
  0% {
    left: 0%;
  }
}

@keyframes example1 {
  0% {
    left: 0%;
  }
}

.cell-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cell-art a {
  display: block;
  width: 25%;
}

.cell-art a img {
  width: 100%;
  height: auto;
}

.show-off {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 130px;
}

.show-off > p {
  margin-bottom: 50px;
  color: gray;
  font-weight: 400;
}

.show-off h3 {
  font-weight: 400;
}

.show-off .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-off .people div {
  width: 30%;
  text-align: center;
}

.show-off .people div img:first-child {
  width: 90%;
  margin-bottom: 20px;
}

.show-off .people div p {
  margin-bottom: 0;
}

.show-off .people div .name {
  font-weight: 600;
}

.show-off .people div .name + p {
  color: #b1b1b1;
}

.beautiful-2 {
  text-align: center;
  background-color: #f0f0f0;
  padding: 100px 150px;
}

.beautiful-2 .b2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
}

.beautiful-2 .b2-content div {
  padding-left: 70px;
}

.beautiful-2 .b2-content div table {
  margin-bottom: 30px;
}

.beautiful-2 .b2-content div table td {
  border: 1px solid;
}

.beautiful-2 .b2-content div table td a {
  padding: 15px 25px;
  display: block;
  color: black;
}

.beautiful-2 .b2-content div table td a:hover {
  text-decoration: none;
}

.beautiful-2 .b2-content p {
  text-align: left;
}

.easy-way {
  text-align: center;
  padding: 100px 0;
}

.easy-way .easy-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.easy-way .easy-content div {
  width: 20%;
  text-align: center;
  margin: 15px;
  border: 1px solid gray;
  padding: 30px 20px;
}

.easy-way .easy-content div a {
  color: black;
  background-color: transparent;
  border: 1px solid #8080806b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  display: block;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 10px;
  margin: auto;
}

.circle-2 {
  padding: 50px 90px;
}

.circle-2 .row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle-2 .row div img {
  width: 64px;
  height: 64px;
}

.circle-2 .row div div {
  display: block;
  padding-left: 20px;
  padding-top: 18px;
}

.circle-2 .row div .paint {
  background-color: rgba(255, 220, 226, 0.932);
  border-radius: 999px;
}

.adorable-content > div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adorable-content > div img {
  display: inline-block;
  width: 50%;
  height: auto;
}

.adorable-content > div .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.buy-now {
  height: 600px;
  background: url(../image/home-main-parallax-1.jpg);
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding-top: 150px;
}

.buy-now .btn {
  color: white;
  background-color: #ffe3e8;
}

.buy-now .btn:hover {
  color: black;
  background-color: white;
}

.buy-now h1 {
  font-size: 62px;
  padding: 0 100px;
  margin-bottom: 30px;
}

.buy-now p {
  padding: 0 400px;
  font-size: 18px;
}

.shop-layouts {
  text-align: center;
  padding: 80px;
}

.shop-layouts h3 {
  font-weight: 400;
}

.shop-layouts > p {
  color: gray;
  margin-bottom: 50px;
}

.shop-layouts .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-layouts .row div .cart {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  margin-bottom: 30px;
}

.shop-layouts .row div .cart p {
  margin-bottom: 0;
}

.shop-layouts .row div .cart p span {
  text-decoration: line-through;
  color: #dad8d8;
}

.shop-layouts .row div .cart img {
  width: 80%;
}

.shop-layouts .row div .cart a {
  position: absolute;
  color: black;
  background: white;
  padding: 5px 10px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 550;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.shop-layouts .row div .cart a:hover {
  color: #c9c9c9 !important;
}

.shop-layouts .row div .cart:hover a {
  opacity: 1;
  text-decoration: none;
}

.show-off2 {
  text-align: center;
  background: whitesmoke;
  padding: 100px 0;
}

.show-off2 h3 {
  font-weight: 400;
}

.show-off2 p {
  color: gray;
  font-size: 18px;
  margin-bottom: 50px;
}

.show-off2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 100px;
}

.show-off2-content a {
  width: 30%;
  margin-bottom: 50px;
}

.ready {
  text-align: center;
  padding: 80px;
}

.ready h3 {
  font-weight: 400;
}

.ready p {
  color: gray;
  margin-bottom: 50px;
}
/*# sourceMappingURL=style-tu.css.map */